# Dependencies
node_modules/
venv/
__pycache__/

# Build outputs
.next/
dist/
bin/
out/
*.exe
*.dll
*.so
*.dylib

# Databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Project-specific temp folders
frontend-old/
frontend-vite/
tmp/
